@use '_reset';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100dvh;
    user-select: none;
}
.container__h1{
    font-family: 'Mynerve', cursive;
    margin-bottom: 3rem;
    font-size: 6rem;
    font-weight: bold;
}
.container__tablero{
    display: flex;
    flex-wrap: wrap;
    gap: .0625rem;

    max-width: 18.875rem;
    background-color: #3e3e3e;
}
.tablero__casillas{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6.25rem;
    width: 6.25rem;
    font-size: 4rem;
    cursor: pointer;
    background-color: #f3f3f3;
    font-family: 'Mynerve', cursive;
}
.container__p{
    font-size: 3rem;
    margin-top: 3rem;
}
.container__btn{
    cursor: pointer;
    background-color: rgb(70, 108, 192);
    padding: 1rem;
    margin-top: 3rem;
    border-radius: .3rem;
    color: white;
    font-size: 1.5rem;
}
.container__btn:hover{
    background-color:rgb(82, 126, 221);
}

@media screen and (max-width: 550px){
    .container__h1{
        font-size: 4rem;
    }
    .container__p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 360px){
    .container__h1{
        font-size: 3.5rem;
    }
    .container__p{
        font-size: 1.6rem;
    }
}